*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header {
    width: 600px;
    height: 500px;
    background-color: rgb(216, 234, 234);
    border: 1px;
    margin-left: 300px;
}

.stars {

    width: 550px;
    height: 80px;
    background-color: aqua;
    border: 1px;
    position: relative;
    top: 10px;

    margin-left: 25px;

}
.body {
    display: flex;
    gap: 10px;
    margin-left: 25px;
    margin-top: 20px;

    .body1 {
        width: 270px;
        height: 140px;
        background-color: rgb(223, 101, 179);
        border: 1px;
    }
    .body2 {
        width: 270px;
        height: 140px;
        background-color: rgb(158, 21, 21);
        border: 1px;
    }
}
.stars2{
    width: 550px;
    height: 80px;
    background-color: aqua;
    border: 1px;
    position: relative;
    top: 10px;

    margin-left: 25px;
}
.iteam{
    display: flex;
    gap: 10px;
    margin-left: 25px;
    margin-top: 20px;

    .iteam1 {
        width: 177px;
        height: 140px;
        background-color: rgb(70, 55, 55);
        border: 1px;
    }
    .iteam2 {
        width: 177px;
        height: 140px;
        background-color: rgb(21, 181, 21);
        border: 1px;
    }
    .iteam3 {
        width: 177px;
        height: 140px;
        background-color: rgb(144, 223, 18);
        border: 1px;
    }
}
@media screen and (max-width: 1020px) {
    .header{
        width: 320px;
        height: 900px;

    }
        .stars{ 
            width: 270px;
            height: 50px;

        } 
        .stars2{ width: 270px;
            height: 50px;

        } 
        .body{
            flex-direction: column;
        }
        .iteam{
            flex-direction: column;
            .iteam1{  width: 270px;
            height: 140px;}
            .iteam2{  width: 270px;
                height: 140px;}
                .iteam3{  width: 270px;
                    height: 140px;}
        }
}