*{
    margin: 0;
    padding: 0;  */
}
.back{
    width: 500px;
    height: 500px;
    background-color: rgb(204, 198, 190);
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    

    }
.header .item {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: rgb(65, 61, 145);
    color: aliceblue;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;

}

