*{
    box-sizing: border-box;
}

label{
    padding-left: 20px;
    color: aliceblue;
}
.header{
    width: 50%;
    height: auto;
    background-color: rgb(130, 238, 139);
}
input{
    margin: 20px;
        padding: 15px; 
        font-size: 18px;
        border-radius: 15px;

.header button{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-left: 20px;
    background-color: aliceblue;
}
}
textarea{
    margin: 20px;
        padding: 15px; 
        font-size: 18px;
        width: 570px;
        border-radius: 8px;
}