*{
    box-sizing: border-box;
}
.text4_icon{
    position: absolute;
    left: 750px;
    top: 650px;
}
.text1, .text3{
    margin-right: 50px;
}
.text1_icon{
    position:absolute;
    left: 190px;
    top: 305px;
}
.text2_icon{
    position: absolute;
    right: 575px;
    top: 305px;
}
table{
    padding-left: 150px;
}
 .bk1, .bk2, .bk3, .bk4{
    position: relative;;
    width: 70px;
    height: 70px;
    background-color: rgb(203, 15, 172);
    border: 2px solid rgb(0, 1, 0);
    transform: rotate(45deg);
    margin-right: 50px;
    right: 100px;
    top: 100px;
} 
.text3_icon{
    position: absolute;
    left: 190px;
    top: 300px;
}

h1{
    padding-left: 50px;
    text-decoration: underline solid red;
}
