.header{
    background-color: blue;
    height: 100px;
  
 
    color: aliceblue;
    text-align: center;
    padding: 25px 0;
}
.header1{
    color: aliceblue;
    word-spacing: 200%;
    text-align: center;
    word-spacing: 10px;
    text-decoration: none


}
.menu{
    text-decoration: none
    
}
.q{
    color: aliceblue;
    text-align: center;
    text-decoration: none
    

    
    

}
.body1 img{
    width: 100px;
    height: 100px;
  border-radius: 50%;
 border: 3px solid blue;
}



.body{
    text-align: center;
    justify-content: center;
    
}
.footer{
    background-color: rgb(235, 235, 243);
    width: 100%;
    padding: 10px;
    margin: 10px;
    color: rgb(1, 10, 19);
    text-align: center;
    
}