*{
    margin: 0;
    padding: 0; */
 }
.container{
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(70, 255, 193);
    height: 500px;
    display: flex;
    flex-direction: column      ;
    justify-content: space-between

    
    
   
}
.container .item{
    width: 50px;
    margin: 1px;
    background-color: rgb(253, 103, 215);
    height: 200px;
    /* position: relative;
    top: auto; */
}
.item1{
flex: 1;
}
.item2{
    flex: 2;
}