* {
    box-sizing: border-box;
}

.nen {
    background-color: rgb(203, 207, 214);
    padding: 10px
}

.phong {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button {
    border-radius: 5px;
    border-style: none;
    background-color: brown;
    padding: 6px;
}

.boder {
    border-radius: 5px;
    padding: 5px;

}

img {
    vertical-align: middle;
}