.button1{
    border: none;
    background-color: red;
    color: white;
    padding: 15px 50px 15px 50px;
    border-radius: 20%; 
}
.contact{
    text-align: center;
    width: 300px;
    border-radius: 5px;
    position: relative;
    border: 2px solid black;
}
.button2{
    border: 2px solid red;
    background-color: rgb(78, 12, 12);
    color: rgb(255, 0, 0);
    padding: 5px 20px 5px 20px;
    border-radius: 20%; 
    margin-bottom: 10px;
}.border{
    border-bottom: 1px solid black;
    
}

p{
    display: inline-block;
    margin: 5px;
}

h1{
    margin: 0;
    background-color: red;
    color: white;
    padding: 10px;
    
}
img{
    position: absolute;
    bottom: 390px;
    left: 250px;
}

.color{
    color:  rgb(0, 255, 42);
}




html{
    width: 300px;
}