.form_feedback {
    border-radius: 10px;
    border: 10px;
    height: 400px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black
    
}
.name{

}
.phong{
    
    position: relative;
    
    
}
