.header{
    
    
    
    background-color: bisque;
    display: flex;
    width: 1500px;

}
.h1{
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-style: normal;

}
.home1{
    opacity: 0.5;
}

.navigation {
    

    gap: 30px;
    display: flex;
    a{text-decoration: none;
        color: black;
    

        
    }
    margin-top: 30px;
    margin-left: 50px;
    word-spacing: x; 
   
}
.name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 80px;
  
}
.img{
    opacity: 0.5;

    width: 200px;
    height: px;
    display: flex;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
    gap: 40px;
    border-radius: 5px;
    
}
.home{
    font-weight: 600;


}
button {
    background-color: #f0a500; 
    border: none;
    padding: 0px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
}

button:hover {
    background-color: #e08900; 
}

